.header {
    background-color: #336600;
    /* background-image: url(/4de356f…/00972/assets/images/geometry.svg); */
    background-repeat: repeat;
    color: #fff;
    min-height: 150px;
    padding: 125px 20px 75px 20px;
    /* padding-bottom: 75px; */
    text-align: center;
}
.wider{
    width: 100%;
    margin: 0;
    padding: 0;
}